@use 'helpers' as *;

.section-heading {
  display: flex;
  flex-direction: column;
  row-gap: rem(8);

  &__label {
    font-weight: 400;
    @include fluid-text(24, 14);
    line-height: 0.83333;
    color: var(--color-yellow);
  }

  &__title {
    font-weight: 800;
    @include fluid-text(32, 20);
    line-height: 1.2;
    color: var(--color-black);
  }

  &__label--center {
    align-self: center;
  }
}

.footer-top__heading {
}
