<footer class="footer">
  <div class="footer-top">
    <div class="footer-top__inner container">
      <app-section-heading
        foot="have"
        label="актуально"
        title="Получайте полезные рассылки о путешествиях"
      ></app-section-heading>
      <div class="footer-top__form">
        <label for="footer-input" class="footer-top__label"
          >Введите e-mail адрес</label
        >
        <div class="footer-top__content">
          <input
            type="email"
            id="footer-input"
            placeholder="name@domain.com"
            class="footer-top__input"
            [formField]="footerForm.email"
          />
          @for (item of footerForm.email().errors(); track $index) {
            @if (footerForm.email().touched()) {
              <span class="text-danger">{{ item.message }}</span>
            }
          }
          <app-button
            [disabled]="footerForm().invalid()"
            (click)="message.showSuccess('Успешно подписались')"
            >Подписаться на новости</app-button
          >
        </div>
        <p class="footer-top__policy">
          Подписываясь на новости, вы автоматически соглашаетесь с
          <a
            href="/terms"
            class="footer-top__policy-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            условиями обработки персональных данных
          </a>
          и
          <a
            href="/promo-rules"
            class="footer-top__policy-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            правилами рекламных рассылок
          </a>
        </p>
      </div>
    </div>
  </div>

  <div class="footer-main">
    <div class="footer-main__inner container">
      <div class="footer-main__col footer-main__col--about">
        <h3 class="footer-main__title">Компания «РумТибет»</h3>
        <p class="footer-main__text">
          Его корни уходят в один фрагмент классической латыни 45 года н.э., то
          есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни
          из колледжа Hampden-Sydney.
        </p>
        <div class="footer-main__contacts">
          <a href="mailto:info@domain.com" class="footer-main__link"
            >info@domain.com</a
          >
          <a href="tel:+71234567890" class="footer-main__link"
            >+7 (123) 456-78-90</a
          >
        </div>
        <ul class="footer-main__socials" aria-label="Социальные сети">
          <li>
            <a href="#" class="footer-main__social-link" aria-label="Telegram"
              ><fa-icon [icon]="faTelegram"
            /></a>
          </li>
          <li>
            <a href="#" class="footer-main__social-link" aria-label="VK"
              ><fa-icon [icon]="faVk"
            /></a>
          </li>
          <li>
            <a href="#" class="footer-main__social-link" aria-label="Pinterest"
              ><fa-icon [icon]="faPinterest"
            /></a>
          </li>
          <li>
            <a href="#" class="footer-main__social-link" aria-label="Skype"
              ><fa-icon [icon]="faSkype"
            /></a>
          </li>
        </ul>
      </div>

      <nav class="footer-main__col" aria-label="Наши услуги">
        <h3 class="footer-main__title">Наши услуги</h3>
        <ul class="footer-main__list">
          <li>
            <a href="#" class="footer-main__list-link">Прогулки в горы летом</a>
          </li>
          <li>
            <a href="#" class="footer-main__list-link">Зимние походы в горы</a>
          </li>
          <li>
            <a href="#" class="footer-main__list-link"
              >Посещение храмов в горах</a
            >
          </li>
          <li>
            <a href="#" class="footer-main__list-link"
              >Экстремальные виды туризма</a
            >
          </li>
          <li>
            <a href="#" class="footer-main__list-link"
              >Походы в джунглях Амазонки</a
            >
          </li>
          <li>
            <a href="#" class="footer-main__list-link">Поездка в Африку</a>
          </li>
        </ul>
      </nav>

      <nav class="footer-main__col" aria-label="Важно для путешествий">
        <h3 class="footer-main__title">Важно для путешествий</h3>
        <ul class="footer-main__list">
          <li>
            <a href="#" class="footer-main__list-link"
              >Как собрать в долгий поход?</a
            >
          </li>
          <li>
            <a href="#" class="footer-main__list-link"
              >Жизненно важные предметы для похода</a
            >
          </li>
          <li>
            <a href="#" class="footer-main__list-link"
              >Медицинская страховка, гарантии безопасности</a
            >
          </li>
          <li>
            <a href="#" class="footer-main__list-link"
              >Если вы врач - загляните сюда</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-bottom__inner container">
      <small class="footer-bottom__copyright"
        >ИП Константинопольский К.К., 2023</small
      >
      <a href="/policy" class="footer-bottom__link"
        >Политика обработки персональных данных</a
      >
    </div>
  </div>
</footer>
