<div class="messages">
  @for (item of message.messages$ | async; track item.id) {
  <ng-container [ngTemplateOutlet]="messageTemp" [ngTemplateOutletContext]="{$implicit : item}"></ng-container>
  }
</div>

<ng-template #messageTemp let-item>
  <div class="message">
    <div class="message__content">
      <img src="/icons/message-icon.svg" alt="" width="40" height="40">
      <div class="message__text">
        <div class="message__title">{{item.type}}</div>
        <p class="message__subtitle">{{item.text}}</p>
      </div>
    </div>
    <button class="message__button" (click)="this.message.closeMessage(item.id)"></button>

  </div>
</ng-template>