<header class="header">
  <div class="header__inner container">
    <a [routerLink]="['/home']" class="header__logo" aria-label="Logo" title="Logo">
      <img src="/icons/header/logo.svg" class="header__logo-img" width="143" height="60">
    </a>
    <div class="header__overlay" [class.header__overlay--active]="isOpen" (click)="onClick()">
      <nav class="header__menu">
        <ul class="header__list">
          @for (item of navigation; track item.link) {
          <li class="header__item">
            <a routerLinkActive="header__link--active" [routerLink]="item.link" class="header__link">{{item.title}}</a>
          </li>
          }
        </ul>
      </nav>
      <app-button variant="white">Консультация</app-button>
    </div>
    <app-burger class="visible-mobile" [isActive]="isOpen" (click)="onClick()"></app-burger>
  </div>
  <div class="container zadachi">
    @if (showTimer) {
    <div class="timer">
      {{date}}
    </div>
    } @else {
    <div class="counter">
      <button type="button" class="plus" (click)="plusCounter()">+</button>
      <span>{{counter}}</span>
      <button type="button" [disabled]="counter === 0" class="minus" (click)="minusCounter()">-</button>
    </div>
    }
    <div>
      <!-- <input type="text" name="" id="" class="live-input" [(ngModel)]="liveInput"> -->
      <input type="text" name="" id="" class="live-input" (input)="onInput($event)">
      <span>{{liveInput}}</span>
    </div>

    <app-button variant="white" (click)="showTimerOrCounter()">
      {{showTimer ? 'Показать счетчик' : 'Показать таймер'}}
    </app-button>
  </div>

</header>