<article class="user-card">
  <h2 class="user-card__name">{{ user.name }}</h2>
  <div class="user-card__username">@{{ user.username }}</div>
  <section class="user-card__section">
    <h3 class="user-card__heading">Контакты</h3>
    <div class="user-card__row">
      <span>Эл. почта:</span>
      <a [href]="'mailto:' + user.email">{{ user.email }}</a>
    </div>
    <div class="user-card__row">
      <span>Телефон:</span>
      <a [href]="'tel:' + user.phone">{{ user.phone }}</a>
    </div>
    <div class="user-card__row">
      <span>Веб-сайт:</span>
      <a [href]="'https://' + user.website" target="_blank">
        {{ user.website || 'Неизвестно'}}
      </a>
    </div>
  </section>
  <section class="user-card__section">
    <h3 class="user-card__heading">Адрес проживания</h3>
    <div class="user-card__row">
      <span>Город:</span>
      <span>{{ user.address.city }}</span>
    </div>
    <div class="user-card__row">
      <span>Улица:</span>
      <span>{{ user.address.street }}</span>
    </div>
    <div class="user-card__row">
      <span>Офис:</span>
      <span>{{ user.address.suite || 'Неизвестно'}}</span>
    </div>
    <div class="user-card__row">
      <span>Индекс:</span>
      <span>{{ user.address.zipcode }}</span>
    </div>
    <div class="user-card__row">
      <span>Координаты:</span>
      <div class="user-card__coordinates">
        <span>{{ user.address.geo.lat }}</span>
        <span>{{ user.address.geo.lng }}</span>
      </div>
    </div>
  </section>
  <section class="user-card__section">
    <h3 class="user-card__heading">Место работы</h3>
    <div class="user-card__row">
      <span>Компания:</span>
      <span>{{ user.company.name }}</span>
    </div>
    <div class="user-card__row">
      <span>Миссия:</span>
      <span>{{ user.company.catchPhrase || 'Неизвестно'}}</span>
    </div>
    <div class="user-card__row">
      <span>Специализация:</span>
      <span>{{ user.company.bs || 'Неизвестно'}}</span>
    </div>
  </section>
  <button class="user-card__button" type="button" (click)="checkId()">Удалить пользователя</button>
</article>